body {
    background: url(images/concrete-bg.jpg) repeat-x center fixed;
    -webkit-background: cover;
    -moz-background: cover;
    -o-background: cover;
    background: cover;
}

.soon {
    text-align: center;
}